LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "io_led" SITE "A12";
IOBUF PORT "io_led" IO_TYPE=LVCMOS25;

// RGB LED is connected to {A11, A12, B11}